.nav {
  z-index: 10;
  position: fixed;
  width: 90%;
  background: rgba(65, 41, 43, 0.8);
  box-shadow: -1px 1px 25px rgba(0, 0, 0, 0.5);
  padding: 12.5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}




.nav__part {
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav__logo {
  width: 30px;
}
.nav__nombre {
  color: #FAF7CE;
  text-shadow: -2px 2px 5px rgba(148, 16, 16, 0.8);
}
.nav__buttom{
  width: 20px ;
  height: 20px ;
  background-image: url(/imagenes/flecha.svg);
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.nav__desplegable {
  background: rgba(65, 41, 43, 0.8);
  position: fixed;
  display:none;
  flex-direction: column;
  width: 100%;
  inset: 55px 0 0 0;
  height: 100vh;
  align-items: center;
  padding-top:35px;
  gap:50px;
}
.nav__noDesplegable{
  display: none;
  flex-direction: row;
  gap: 20px;
}
.nav__desplegable__li {
  font-size: 250%;
  color: #FAF7CE;
  text-shadow: -2px 2px 5px rgba(148, 16, 16, 0.8);
  cursor: pointer;
  user-select: none ;
}

.nav__desplegable__li:hover{
  animation:girarParcial 1500ms linear infinite !important ;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translate(0, -55px);
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes desaparecer {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: translate(0, -55px);
  }
}
@keyframes aparecerUl {
  0% {
    opacity: 0;

  }

  100% {
    opacity: 1;
  }
}
@keyframes desaparecerPadre {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: collapse;
  }
}
@keyframes desaparecerHijo {
}

@keyframes aparecerLetra {
  0% {
    transform:scale(0);
  }
  50% {
    transform:scale(0);
    opacity: 0;
  }
  100% {
    transform:scale(100%);
    opacity: 1;
    
  }
}



@keyframes btnUl{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes btnUl2{
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}



@keyframes girarParcial {
  0% {
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(2deg);
  }
  50%{
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 766px) {
 .nav{
  justify-content: center;
  gap:10%;
 }
 .nav__buttom{
  display: none;
 }
 .nav__desplegable__li{
  font-size:130%
 }
 .nav__noDesplegable{
  display: flex;
}
}
@media screen and (min-width: 1024px) {
  .nav{
   gap: 290px;
  }
 }
 @media screen and (min-width: 1440px) {
  .nav{
   gap:410px;
  }
 }