.topScroll{
    display: fixed;
    z-index: 10;
  position: fixed;
  bottom: 40px ;
  right:-3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: all 1s;
  animation: rotacionSimpleScroll 3s ease infinite;
}
.topScroll>svg{
    width: 35px;
    height: 35px;
    fill:rgba(65, 41, 43, 0.8);
}
@keyframes rotacionSimpleScroll {
    0%{
        transform: rotate(0);
    }
    80%{
        transform: rotate(0);
    }
    85%{
        transform: rotate(-3deg);
    }
    95%{
        transform: rotate(3deg);
    }
    100%{
        transform: rotate(0);
    }
}
@media screen and (min-width: 375px) {
    .topScroll{
        bottom: 50px ;
    }
    .topScroll>svg{
        width: 40px;
        height: 40px;
    }
  }
  @media screen and (min-width: 762px) {
    .topScroll>svg{
        width: 50px;
        height: 50px;
    }
  }
